<h1>List of Directors</h1>

<a href="http://localhost:3000/director/new">Add a New Director</a>

<table>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Image</th>
  </tr>
  <% @directors.each do |director| %>
  <tr>
    <td>
      <a href="http://localhost:3000/directors/<%= director.id %>"><%= director.name %></a>
    </td>
    <td>
      <%= director.dob %>
    </td>
    <td>
      <img src="<%= director.image_url %>">
    </td>
  </tr>
  <% end %>
</table>
