<h1>Add A New director</h1>

<form action="http://localhost:3000/create_director">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="dob">DOB:</label>
    <input id="dob" type="text" name="dob">
  </div>
  <div>
    <label for="image_url">Image:</label>
    <input id="image_url" type="text" name="image_url">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <textarea id="bio" type="textarea" name="bio" class="form-control">Director Bio</textarea>
  </div>
  <div>
    <button>Create Director</button>
  </div>
</form>
